.main {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 1rem;
}

.main a {
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.image {
  width: 100%;
  height: auto;
}

.description {
  padding: 1rem;
  text-align: justify;
}

.icon {
  width: 24px;
  height: 24px;
}

.link {
  width: 44px;
}